.TextGroup
  width: 75%

  h1
    padding: 0.5rem 0
    font-family: Ropa Sans
    font-size: 4rem
    font-weight: 400
    letter-spacing: 1.5rem
    display: flex
    justify-content: center
    align-items: center
    border-bottom: white 0.3rem solid
    border-top: white 0.3rem solid
    color: #8C2B2B

  div
    padding: 3% 7% 0

    p
      font-family: Ropa Sans
      font-size: 2rem
      font-weight: 400


